kurigram
tgcrypto
aiofiles
aioshutil
pymongo
python-dotenv
requests
flask
gunicorn
gevent
qbittorrent-api
aiohttp
aiofiles
aioshutil
aria2p
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
telegraph
python-magic
tenacity
